
#mainblock{

    display: flex;
    background: #f1f1f1;
    margin-top: 50px;
    height: 90vh;
    width: 150vh;
}
#firstblock{
    display: flex;
    justify-content: center;
}
#app_part{
    
    background-color: hsl(0 11% 97% / 1);
    height: 90vh;
    width: 35vh;


}
.img_avatar{
border-radius: 50%;
height: 85px;
width: 85px;
overflow: hidden;
}
#round{
    width: 39px;        
    height: 67px;
    display: flex;
}
#msgbar{
    width: 39px;        
    height: 67px;
    display: flex;
} 

#dots{
    width: 39px;        
    height: 67px;
    display: flex;
}
.MuiSvgIcon-root{
    width: 100%;
}
#searchbar{
    display: flex;
    height: 27px;
    padding: 5px;
   
}
.MuiSvgIcon-rooto{
    width: 30px;
    height: 33px;
}
#lastthing{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
#round:hover{
    background-color: transparent;
    border-radius: 50%;
    width: 52px;
    height: 56px;
}
#msgbar:hover{
    background-color: transparent;
    border-radius: 50%;
    width: 52px;
    height: 56px;
}
#dots:hover{
    background-color: transparent;
    border-radius: 50%;
    width: 52px;
    height: 56px;
}
#searchframe{
    background-color: white;
    border-radius: 40px;
    height: 36px;
    width: 300px;
}
#border{
    border: none;
    outline: none;
}
.chatbox{
    background-color:white; 
    display: flex;
    justify-content: space-between;
    padding: 5px;
    
}

#searchframes{
    background-color: #f3eeee;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}
.chat_image{
    border-radius: 50px;
    height: 50px;
    width: 50px;    
    overflow: hidden;
}
.chat_name{
    font-size: x-large;
    font-family: monospace;
    width: 220px;
    margin: 0%;

}
.message{
color: black;
margin: 0;
}
.inner_chat_box{
    width: 240px;
    display: inline-grid;
}